.categoryCover{
    min-height:35vh;
    height:auto;
    /* background-image:url(./demo.jpg); */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-top:0;
    display:flex;
    align-items:center;
    justify-content:center;
    background-position: center;
    background-attachment: fixed;
}
#coverText{
    font-size:5rem;
    color:#974063;
    font-weight:900;
    text-align:center;
    padding:0;
    margin:0;
    box-sizing: border-box;
    -webkit-text-stroke: 0.2rem rgb(216, 145, 145);
}
.itemCategory{
        display:flex;
        flex-direction:row;
        flex-wrap: wrap;
        align-items:center;
        justify-content: center;
}
.itemContainer{
    margin-bottom:3rem;
}
.hiddenStatus{
    display:none;
}