.contactContainer{
    display:flex;
    align-items:center;
    justify-content: flex-start;
    border:0.2rem solid black;
    margin:2rem;
}
.contactLogoSection{
    border-right:0.4rem solid #300;
    height:80%;
    margin-right:2rem;
    width:10%;
}
.contactIcons{
    font-size:10rem;
}
.contactIcons:hover{
    background-color:#974063;
}
.contactName{
    font-size:5rem;
}
.contactName:hover{
    color:#974063;
    cursor:pointer;
    transition:500ms;
}
.contactPanda{
    width:50%;
    height:50%;
}