/* Featured Section Styling */

.featured{
    display:flex;
    background-image: url("./res/featured_background.png");
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;
    height:80vh;
    width:100vw;
    justify-content: center;
    align-items:center;
    /* border-bottom:0.2rem solid #300; */
    box-shadow:0rem 0.3rem 0.3rem #300;
    margin-bottom:2rem;
}
.featuredDetailsContainer{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    width:50%;
}
#featuredName{
    font-size:10rem;
    margin:auto auto 4rem 1rem;
}
#featuredCTA{
    border:none;
    font-size:5rem;
    color:#eef;
    background:#974063;
    margin:2rem auto auto 5rem;
    padding:1rem 4rem 1rem 4rem;
}
#featuredCTA:hover{
    transition: 1s;
    background:transparent;
    border:0.3rem solid #974063;
    color:#974063;
    cursor:pointer;
}
#featuredImageContainer{
    height:90%;
    width:30%;
    overflow: hidden;
}
.featuredImage{
    width: 100%;
    height:100%;
    object-position:center;
}



/* Categories Section Styling */
#categoriesContainer{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    margin:4rem auto 4rem auto;
}
.categories{
    width:98%;
    border-radius:0.5rem;
    border:1px solid #300;
    display:flex;
    align-items:center;
    padding:1rem;
    margin-bottom:1rem;
    justify-content:space-evenly;
}
.categoryContainer{
    height:40rem;
    width:31%;
    margin:auto;
    align-items:center;
    display:flex;
}
.categoryContainer:hover{
    transition:1s;
    box-shadow:0rem 0rem 0.4rem #100;
    border-radius:0.3rem;
}
.categoryName{
    font-size:4rem;
    text-align: center;
    color:#400;
    z-index:4;
    width:100%;
    height:100%;
    text-align:center;
    padding:10rem;
    box-sizing: border-box;
}
.categoryName:hover{
    cursor:pointer;
}
.categoryName:hover{
    transition:1s;
    color:#eef;
    background:#9740638f;
}
#shoes{
    background-image:url("./res/shoes.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#bags{
    background-image:url("./res/bags.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#bodyWears{
    background-image:url("./res/clothes.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    overflow:hidden;
}



/* Trending section styling */
.trending{
    display:flex;
    flex-direction:column;
    border-top:0.4rem solid #300;
    box-shadow:0.2rem 0rem 0.3rem #300;
}
#trendingTitle{
    font-size: 4rem;
    color:#400;
    font-weight:600;
    text-decoration: underline;
    margin-left:1rem;
}
#trendingSection2{
    display:flex;
    align-items:center;
    justify-content: center;
}
.trendingItemContainer{
    width:30vw;
    overflow: hidden;
    height:50rem;
    border:1px solid #300;
    margin:auto 1rem auto 1rem;
    display:flex;
    flex-direction:column;
}
.trendingItemImageContainer{
    overflow: hidden;
}
.trendingItemContainer:hover{
    transition:1s;
    cursor:pointer;
}
.trendingItemImage{
    object-position: center;
    width:100%;
    height:140%;
}
.trendingItemImage:hover{
    transition:1s;
    transform: scale(1.05);
}
.trendingItemDetails{
    height:30%;
    margin-left:1rem;
}
.trendingItemName{
    color:#100;
    font-size:3rem;
}
.trendingItemPrice{
    color:black;
    font-size:2rem;
}